<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Guess the Number
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Made by David Antúnez</ion-card-subtitle>
        <ion-card-title>GUESS THE NUMBER</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <!-- Number type input -->
      <ion-input type="number" value="0"></ion-input>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
